html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-image: url(/public/images/waves.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 30rem;
}

.logo {
    height: 2rem;
    margin: 2rem;
}

.error {
    border: 1px solid #ffc0c0;
    background-color: #fff0f0;
    color: #d06b6b;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem 0;
    font-size: 0.8rem;
}

.success {
    border: 1px solid #dbffba;
    background-color: #e9fff2;
    color: #52a000;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem 0;
    font-size: 0.8rem;
}

input,
textarea {
    box-sizing: border-box;
    width: 100%;
    background: #c7c7c70f;
    padding: 0.5rem 1rem;
    border: 1px solid #f0f0f0;
    margin: 0.5rem 0;
    font-size: 0.8rem;
    border-radius: 0.125rem;
}

textarea:focus,
input:focus {
    outline: none;
    border: 1px solid #7f92ad;
}

textarea {
    min-height: 10rem;
    font-family: unset;
}

input::placeholder, textarea::placeholder {
    color: #7f92ad;
}

h1, h2, h3, h4, h5, h6 {
    color: #16396b;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button, .btn {
    width: 100%;
    font-size: 0.7rem;
    background-color: #16396b;
    border: none;
    color: white;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border-radius: 0.125rem;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

.news-title {
    font-weight: bold;
    padding: 0.5rem;
}

.news-description {
    padding: 0.5rem;
    color: #687e9d;
}

.news-item {
    display: flex;
    color: #16396b;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    background: #c7c7c70f;
    padding: 0.5rem 1rem;
    border: 1px solid #f0f0f0;
    margin: 0.75rem 0;
    font-size: 0.8rem;
    border-radius: 0.125rem;
}

.icon {
    padding: 0 0.25rem;
}

.edit-news-header {
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}